// BASE COLORS

$primary-900: #081d3c;
$primary-875: #002350;
$primary-850: #002f64;
$primary-825: #053f79;
$primary-800: #0c518d;
$primary-700: #1665a2;
$primary-600: #227bb6;
$primary-500: #2f92ca;
$primary-400: #3ea8dd;
$primary-300: #68c4eb;
$primary-200: #8ed3f0;
$primary-175: #98d9f2;
$primary-150: #a7ddf4;
$primary-100: #bee6f7;
$primary-075: #d4effa;
$primary-050: #e5f5fc;
$primary-025: #eef9fd;

$success-900: #162f2d;
$success-875: #113e3b;
$success-850: #1c5850;
$success-825: #286c61;
$success-800: #358171;
$success-700: #459582;
$success-600: #57a993;
$success-500: #6bbea5;
$success-400: #7ed0b4;
$success-300: #9bdac5;
$success-200: #ade0ce;
$success-150: #b0e4cf;
$success-150: #b8e7d3;
$success-100: #ceede4;
$success-075: #ddf3ec;
$success-050: #e8f7f3;
$success-025: #f1faf8;

$warning-900: #4b1f24;
$warning-875: #5f151b;
$warning-850: #741f23;
$warning-825: #882b2c;
$warning-800: #9d3b39;
$warning-700: #b14e49;
$warning-600: #c5645b;
$warning-500: #da7c70;
$warning-400: #ee9585;
$warning-300: #f2ab9e;
$warning-200: #f5bbb1;
$warning-150: #f9c5bb;
$warning-150: #f9d6cf;
$warning-100: #fce6e2;
$warning-075: #fdf0ee;
$warning-050: #fef5f4;
$warning-025: #fff9f7;

$danger-900: #411728;
$danger-875: #550e28;
$danger-850: #6a1632;
$danger-825: #7e203c;
$danger-800: #922d48;
$danger-700: #a73b54;
$danger-600: #bb4b62;
$danger-500: #d05e71;
$danger-400: #e37281;
$danger-300: #ea8f9b;
$danger-200: #eea4ae;
$danger-150: #f4adb8;
$danger-150: #f5c8ce;
$danger-100: #f9dde1;
$danger-075: #fcebed;
$danger-050: #fdf2f3;
$danger-025: #fef6f7;

$info-900: #5a3722;
$info-875: #6a3918;
$info-850: #834a1f;
$info-825: #975e2b;
$info-800: #ac7339;
$info-700: #c0894a;
$info-600: #d5a05c;
$info-500: #e9b970;
$info-400: #fcd085;
$info-300: #feda9e;
$info-200: #fee1b1;
$info-150: #ffe9bb;
$info-150: #ffedcf;
$info-100: #fff4e2;
$info-075: #fff9ee;
$info-050: #fffbf4;
$info-025: #fffdf7;

$neutral-900: #0f1019;
$neutral-875: #1e1f26;
$neutral-850: #23242e;
$neutral-825: #2a2b34;
$neutral-800: #36363e;
$neutral-700: #3d3d45;
$neutral-600: #45454e;
$neutral-500: #57575f;
$neutral-400: #696971;
$neutral-300: #78787e;
$neutral-200: #86868c;
$neutral-175: #cdd4dd;
$neutral-150: #d7dce3;
$neutral-100: #dee2e8;
$neutral-075: #e8ebee;
$neutral-050: #f2f3f4;
$neutral-025: #fbfbfb;
$neutral-000: #ffffff;