// BASE COLORS

$primary-900: #0b1427ff;
$primary-875: #101e3bff;
$primary-850: #152a4fff;
$primary-825: #1a3565ff;
$primary-800: #20417aff;
$primary-700: #2a5192ff;
$primary-600: #3b66a9ff;
$primary-500: #517dbfff;
$primary-400: #77a0dcff;
$primary-300: #8eb0e2ff;
$primary-200: #abc4e9ff;
$primary-150: #c4d6f0ff;
$primary-100: #d3e0f4ff;
$primary-075: #dbe6f7ff;
$primary-050: #e8eef9ff;
$primary-025: #f1f5fcff;

$secondary-900: #151b25ff;
$secondary-875: #1f2937ff;
$secondary-850: #293649ff;
$secondary-825: #34445cff;
$secondary-800: #3e516eff;
$secondary-700: #485f80ff;
$secondary-600: #526c92ff;
$secondary-500: #58739cff;
$secondary-400: #6787b7ff;
$secondary-300: #859fc5ff;
$secondary-200: #9cb1d0ff;
$secondary-150: #c2cfe2ff;
$secondary-100: #d9e1edff;
$secondary-075: #e8edf4ff;
$secondary-050: #f0f3f8ff;
$secondary-025: #f4f7faff;

$tertiary-900: #050b13ff;
$tertiary-875: #08101cff;
$tertiary-850: #0b1625ff;
$tertiary-825: #0e1b2fff;
$tertiary-800: #102038ff;
$tertiary-700: #132641ff;
$tertiary-600: #162b4aff;
$tertiary-500: #172e4fff;
$tertiary-400: #1b365dff;
$tertiary-300: #495e7dff;
$tertiary-200: #6b7c96ff;
$tertiary-150: #a4afbeff;
$tertiary-100: #c6cdd7ff;
$tertiary-075: #dde1e7ff;
$tertiary-050: #e8ebefff;
$tertiary-025: #eff1f4ff;

$success-900: #192a24ff;
$success-875: #263e36ff;
$success-850: #325348ff;
$success-825: #3f685aff;
$success-800: #4c7d6cff;
$success-700: #58927eff;
$success-600: #65a690ff;
$success-500: #6bb199ff;
$success-400: #7ed0b4ff;
$success-300: #9ad9c4ff;
$success-200: #acdfcdff;
$success-150: #b7e6d2ff;
$success-100: #cdece3ff;
$success-075: #dcf2ebff;
$success-050: #e7f6f2ff;
$success-025: #f0f9f7ff;

$warning-900: #301e1bff;
$warning-875: #472d28ff;
$warning-850: #5f3c35ff;
$warning-825: #774b43ff;
$warning-800: #8f5950ff;
$warning-700: #a7685dff;
$warning-600: #be776aff;
$warning-500: #ca7f71ff;
$warning-400: #ee9585ff;
$warning-300: #f1aa9dff;
$warning-200: #f4bab0ff;
$warning-150: #f8d5ceff;
$warning-100: #fbe5e1ff;
$warning-075: #fcefedff;
$warning-050: #fdf4f3ff;
$warning-025: #fef8f6ff;

$danger-900: #2d171aff;
$danger-875: #442227ff;
$danger-850: #5b2e34ff;
$danger-825: #723941ff;
$danger-800: #88444dff;
$danger-700: #9f505aff;
$danger-600: #b65b67ff;
$danger-500: #c1616eff;
$danger-400: #e37281ff;
$danger-300: #e98e9aff;
$danger-200: #eda3adff;
$danger-150: #f4c7cdff;
$danger-100: #f8dce0ff;
$danger-075: #fbeaecff;
$danger-050: #fcf1f2ff;
$danger-025: #fdf5f6ff;

$info-900: #322a1bff;
$info-875: #4c3e28ff;
$info-850: #655335ff;
$info-825: #7e6843ff;
$info-800: #977d50ff;
$info-700: #b0925dff;
$info-600: #caa66aff;
$info-500: #d6b171ff;
$info-400: #fcd085ff;
$info-300: #fdd99dff;
$info-200: #fde0b0ff;
$info-150: #feecceff;
$info-100: #fef3e1ff;
$info-075: #fff8edff;
$info-050: #fffaf3ff;
$info-025: #fffcf6ff;

$neutral-900: #0d1226ff;
$neutral-875: #121a2eff;
$neutral-850: #192236ff;
$neutral-825: #222b3fff;
$neutral-800: #293245ff;
$neutral-700: #313a4eff;
$neutral-600: #394255ff;
$neutral-500: #3f475bff;
$neutral-400: #4a5366ff;
$neutral-300: #6c7587ff;
$neutral-200: #868ea0ff;
$neutral-150: #c8cfe0ff;
$neutral-100: #dbe1eeff;
$neutral-075: #e6eaf2ff;
$neutral-050: #f0f2f4ff;
$neutral-025: #f7f7f9ff;
$neutral-000: #ffffffff;

// SEMANTIC COLORS