@import './base-colors.scss';

// SEMANTIC COLORS

$primary: $primary-400;
$primary-deep: $primary-800;
$primary-dark: $primary-600;
$primary-light: $primary-200;
$primary-bright: $primary-100;

$secondary: $secondary-400;
$secondary-deep: $secondary-800;
$secondary-dark: $secondary-600;
$secondary-light: $secondary-200;
$secondary-bright: $secondary-100;

$tertiary: $tertiary-400;
$tertiary-deep: $tertiary-800;
$tertiary-dark: $tertiary-600;
$tertiary-light: $tertiary-200;
$tertiary-bright: $tertiary-100;

$success: $success-400;
$success-deep: $success-800;
$success-dark: $success-600;
$success-light: $success-200;
$success-bright: $success-100;

$info: $info-400;
$info-deep: $info-800;
$info-dark: $info-600;
$info-light: $info-200;
$info-bright: $info-100;

$warning: $warning-400;
$warning-deep: $warning-800;
$warning-dark: $warning-600;
$warning-light: $warning-200;
$warning-bright: $warning-100;

$danger: $danger-400;
$danger-deep: $danger-800;
$danger-dark: $danger-600;
$danger-light: $danger-200;
$danger-bright: $danger-100;

$light-0: $neutral-000;
$light-1: $neutral-025;
$light-2: $neutral-050;
$light-3: $neutral-075;
$light-4: $neutral-100;
$light-5: $neutral-150;

$dark-0: $neutral-900;
$dark-1: $neutral-875;
$dark-2: $neutral-850;
$dark-3: $neutral-825;
$dark-4: $neutral-800;
$dark-5: $neutral-700;

$black-text: $neutral-800;
$gray-text: $neutral-200;
$white: $neutral-000;

$chrome: rgba($neutral-800, 0.8)
