@import '../../stylesheets/globals/_colors.scss';
@import '../../stylesheets/globals/_fonts.scss';
@import '../../stylesheets/globals/_spaces.scss';

:export {
    baseName: ax-btn;
    primary: ax-btn-primary;
    secondary: ax-btn-secondary;
    tertiary: ax-btn-tertiary;
    success: ax-btn-success;
    info: ax-btn-info;
    warning: ax-btn-warning;
    danger: ax-btn-danger;
    link: ax-btn-link;

    iconTextIcon: -icon-text-icon;
    iconText: -icon-text;
    textIcon: -text-icon;
    text: -text;
    icon: -icon;

    iconLeft: icon-left;
    iconRight: icon-right;
}

@mixin focus-ring($color) {
    outline: none;
    box-shadow: 0px 0px 0px $space-xxs $color;
    -moz-box-shadow: 0px 0px 0px $space-xxs $color;
    -webkit-box-shadow: 0px 0px 0px $space-xxs $color;
}

$height: 36px;
$font-size: 14px;
$min-width: 120px;

@mixin rounded-corner($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

.ax-btn {
    
    @include rounded-corner($space-xxs);

  font-family: $font-family;
  font-weight: $semi-bold;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $white;
  height: $height;
  min-width: $min-width;
  border: none;
  padding-top: 0px;
  padding-right: $space-m;
  padding-bottom: 1px; // A 'futz' to make type appear centered in button
  padding-left: $space-m;
  margin: $space-m $space-m $space-m 0px; // remove this later, make 'margin' a function of containers.
  .icon-left {
    justify-content: flex-start;
    text-align: right;
    margin-right: $space-s;
  }
  .icon-right {
    justify-content: flex-start;
    text-align: right;
    margin-left: $space-s;
  }
  cursor: pointer;
}

.ax-btn-primary {
    background: $primary;
    
    &:hover {
        background: $primary-dark;
      }
      &:active {
          background: $primary-deep;
      }
      &:focus {
          @include focus-ring($primary-bright);
      }
      &:disabled {
        cursor: default;
        background: $primary-bright;
        &:hover {
            background: $primary-bright;
        }  
    }        
}

.ax-btn-secondary {
    font-weight: $normal;
    color: $neutral-800;
    background: $white;
    border: 1px solid $secondary-075;
    &:hover {
        background: $secondary-075;
        .icon-right {
            color: $primary;
        }        
      }
      &:active {
        color: $white;          
        background: $primary;
        border: 1px solid $primary;
        .icon-left {
            color:$white; 
          }
          .icon-right {
            color: $white;
          }                
      }
      &:focus {
          @include focus-ring($primary-bright);
      }
      &:disabled {
        background: $white;
          color: $neutral-200;
          .icon-left {
            color:$neutral-200;
          }
          .icon-right {
            color: $neutral-200;
          }          
        // &:hover {
        //     background: $white;
        //     .icon-right {
        //         color: $primary;
        //     }
        // }
        cursor: default;
    }
    .icon-left {
        color: $primary;
      }
      .icon-right {
        color: $neutral-800;
      }      
}

.ax-btn-tertiary {
    font-weight: $normal;
    color: $neutral-800;
    background: transparent;
    &:hover {
        color: $primary;
      }
      &:active {
        color: $primary-800;          
      }
      &:focus {
        @include focus-ring($primary-bright);     
      }
      &:disabled {
          color: $neutral-200;
          &:hover {
            background: transparent;
        }
        cursor: default;

    }
}

.ax-btn-success {
    background: $success;
    &:hover {
        background: $success-dark;
      }
      &:active {
          background: $success-deep;
      }
      &:focus {
        @include focus-ring($success-bright);
      }
      &:disabled {
        background: $success-bright;
        cursor: default;
        &:hover {
            background: $success-bright;
        }  
    }        
}

.ax-btn-info {
    background: $info;
    &:hover {
        background: $info-dark;
      }
    &:active {
        background: $info-deep;
    }
    &:focus {
        @include focus-ring($info-bright);
      }
      &:disabled {
        background: $info-bright;
        cursor: default;
        &:hover {
            background: $info-bright;
        }  
    }        
}

.ax-btn-warning {
    background: $warning;
    &:hover {
        background: $warning-dark;
      }
      &:active {
          background: $warning-deep;
      }
      &:focus {
        @include focus-ring($warning-bright);
      }
      &:disabled {
        background: $warning-bright;
        cursor: default;
        &:hover {
            background: $warning-bright;
        }  
    }        
}

.ax-btn-danger {
    background: $danger;
    &:hover {
        background: $danger-dark;
    }
    &:active {
        background: $danger-deep;
    }
    &:focus {
        @include focus-ring($danger-bright);
    }
    &:disabled {
        background: $danger-bright;
        cursor: default;
        &:hover {
            background: $danger-bright;
        }  
    }        
}

.ax-btn-link {
    color: $primary;
    background: transparent;
    min-width: unset;
    &:hover {
        color: $primary-dark;
        text-decoration: underline;        
      }
      &:active {
        color: $primary-deep;
      }
      &:focus {
          outline: none;
          text-decoration: underline;
      }
      &:disabled {
        color: $primary-bright;
        text-decoration: none;
        cursor: default;
        &:hover {
            background: transparent;
        }  
    }        
}

// Not happy with this futz.
.ax-btn-icon {
    min-width: $height !important;
    width: $height;
    .icon-left {
        margin: 0px 0px 0px -4px !important;
    }
}

