@import '../../stylesheets/globals/_colors.scss';
@import '../../stylesheets/globals/_fonts.scss';
@import '../../stylesheets/globals/_spaces.scss';

@mixin focus-ring($color) {
    outline: none;
    box-shadow: 0px 0px 0px $space-xxs $color;
    -moz-box-shadow: 0px 0px 0px $space-xxs $color;
    -webkit-box-shadow: 0px 0px 0px $space-xxs $color;
}

$font-family: "Open Sans";
$height: 36px;
$font-size: 14px;
$min-width: 120px;

.ax-btn {
  font-family: $font-family;
  font-weight: $semi-bold;
  font-size: $font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $white;
  height: $height;
  min-width: $min-width;
  border: none;
  border-radius: $space-xxs;
  padding: 0px $space-m 1px $space-m;
  margin: $space-m $space-m $space-m 0px; // remove this later, make 'margin' a function of containers.
}

.ax-btn-primary {
    background: $primary;
    
    &:hover {
        background: $primary-dark;
      }
      &:active {
          background: $primary-deep;
      }
      &:focus {
          @include focus-ring($primary-bright);
      }
      &:disabled {
        background: $primary-bright;
        &:hover {
            background: $primary-bright;
        }  
    }        
}

.axiom-icon {
    justify-content: flex-start;
    text-align: left;
    margin-right: $space-s;
  }

.ax-btn-secondary {
    font-weight: $normal;
    color: $neutral-800;
    background: $white;
    border: 1px solid $secondary-075;
    &:hover {
        background: $secondary-075;
      }
      &:active {
        // font-weight: $semi-bold;
        color: $white;          
        background: $primary;
        border: 1px solid $primary;
        .axiom-icon {
            color:$white;
          }
      }
      &:focus {
          @include focus-ring($primary-bright);
      }
      &:disabled {
          color: $neutral-200;
          .axiom-icon {
            color:$neutral-200;
          }
          &:hover {
            background: $white;
        }            
    }
    .axiom-icon {
        justify-content: flex-start;
        text-align: left;
        color: $primary;
        margin-right: $space-s;
      }
}

.ax-btn-tertiary {
    font-weight: $normal;
    color: $neutral-800;
    background: transparent;
    &:hover {
        color: $primary;
      }
      &:active {
        color: $primary-800;          
      }
      &:focus {
        @include focus-ring($primary-bright);     
      }
      &:disabled {
          color: $neutral-200;
          &:hover {
            background: transparent;
        }            
    }
}

.ax-btn-success {
    background: $success;
    &:hover {
        background: $success-dark;
      }
      &:active {
          background: $success-deep;
      }
      &:focus {
        @include focus-ring($success-bright);
      }
      &:disabled {
        background: $success-bright;
        &:hover {
            background: $success-bright;
        }  
    }        
}

.ax-btn-info {
    background: $info;
    &:hover {
        background: $info-dark;
      }
    &:active {
        background: $info-deep;
    }
    &:focus {
        @include focus-ring($info-bright);
      }
      &:disabled {
        background: $info-bright;
        &:hover {
            background: $info-bright;
        }  
    }        
}

.ax-btn-warning {
    background: $warning;
    &:hover {
        background: $warning-dark;
      }
      &:active {
          background: $warning-deep;
      }
      &:focus {
        @include focus-ring($warning-bright);
      }
      &:disabled {
        background: $warning-bright;
        &:hover {
            background: $warning-bright;
        }  
    }        
}

.ax-btn-danger {
    background: $danger;
    &:hover {
        background: $danger-dark;
    }
    &:active {
        background: $danger-deep;
    }
    &:focus {
        @include focus-ring($danger-bright);
    }
    &:disabled {
        background: $danger-bright;
        &:hover {
            background: $danger-bright;
        }  
    }        
}

.ax-btn-link {
    color: $primary;
    background: transparent;
    min-width: unset;
    &:hover {
        color: $primary-dark;
        text-decoration: underline;        
      }
      &:active {
        color: $primary-deep;
      }
      &:focus {
          outline: none;
          text-decoration: underline;
      }
      &:disabled {
        color: $primary-bright;
        text-decoration: none;    
        &:hover {
            background: transparent;
        }  
    }        
}

